h3,
p {
  margin: 0;
}

ul {
  padding: 0;
}

img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.current-friend {
  background: peachpuff;
}

.friend {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-radius: 15px;
}

.friend button {
  width: 70px;
}

.info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.owes-you {
  color: greenyellow;
}

.you-owe {
  color: red;
}
